
= form_for @question do |f|
  %div.form-group
    =f.label :question
    =f.text_field :question, :autofocus => true, :class => 'form-control'

    =hidden_field_tag :product_id, params[:product_id]

  =f.submit