%div.col-md-5

  %h2= "Edit User Account"

  = form_for @user do |f|
    %div.form-group
      =f.label :username
      =f.text_field :username, :autofocus => true, :class => 'form-control'
    %div.form-group
      =f.label :age
      =f.text_field :age, :class => 'form-control'
    %div.form-group
      =f.label :password
      =f.password_field :password, :class => 'form-control'
    %div.form-group
      =f.label :password_confirmation
      =f.password_field :password_confirmation, :class => 'form-control'
    =f.submit 'Update', :class => "btn btn-success blue"