body {
  margin-top: 80px;
}

div.pushdown {
  border-radius: 10px;
}

div.company {
  width: 350px;
}

div.user-login {
  width: 580px;
  border-radius: 10px;
  background-color: #5AC6FF;
  padding-right: 2em;
}

div.company-login {
  width: 580px;
  border-radius: 10px;
  background-color: #FD6B6E;
}

.company_product {
  margin-bottom: 4em;
  border-radius: 10px;
  background-color: #BEC8D1;
}

div.login-box {
  padding-top: 1em;
  padding-left: 1em;
  padding-bottom: 1em;
}

div.company-login-box {
  padding-top: 1em;
  padding-left: 1em;
  padding-bottom: 1em;
  padding-right: 2em;
}

/*cool green color was #99E76D*/

.productimg {
  width: 650px;
  border-radius: 10px;
  margin-top: 35px;
  margin-bottom: 2em;
}

img.companyimg {
  width: 340px;
  border-radius: 10px;
  margin-bottom: 2em;
}

h3.right {
  text-align: right;
  padding-right: 20px;
  line-height: 45px;
  border-radius: 10px;
  background-color: #5AC6FF;
  color: white;
  margin-top: 5px;
}

.main_content {
  background-color: #BEC8D1;
  border-radius: 10px;
  margin-bottom: 2em
}

.profile {
  background-color: #FD6B6E;
  color: white;
  border-radius: 10px
}

.sidebar {
  background-color: #99E76D;
  width: 300px;
  min-height: 300px;
  border-radius: 10px;
  color: white;
}

ul {
  list-style: none;
  margin-left: none;
}

h1.homepage {
  background-color: #5AC6FF;
  color: white;
  padding-left: 18px;
  line-height: 50px;
  border-radius: 10px;
  width: 95%;
}

h3.product_name {
  padding-top: 20px;
}

li.date {
  margin-top: 5px;
  padding-bottom: 8px;
}

li.large {
  font-size:22px;
}

li.last {
  padding-bottom: 12px;
}

.buttoncreate {
  background-color: #99E76D;
  border-color: black;
  margin-bottom: 10px;
}

.buttoncreate:hover {
  background-color: #72B748;
  border-color: black;
}

.bigbuttona {
  width: 100%;
  height: 200px;
  background-color: #5AC6FF;
}

.bigbuttonb {
  width: 100%;
  height: 200px;
  background-color: #FD6B6E;
}

.bigbuttonb:hover {
  background-color: #B44343;
}

p.button {
  padding-top: 65px;
  font-size: 35px
}

.red {
  background-color: #FD6B6E;
  border-color: grey;
}

.red:hover {
  background-color: grey;
  border-color: #FD6B6E;
}

.blue {
  background-color: #5AC6FF;
  border-color: grey;
}

.blue:hover {
  background-color: grey;
  border-color: #5AC6FF;
}

div.col-md-5 {
  background-color: #EEEEEE;
  padding-top: 1em;
  padding-bottom: 2em;
  border-radius: 10px;
}

.white {
  color: white;
}

.homebutton {
  font-family: Delius Swash Caps;
}

.jtronbuttons {
  height: 315px;
}

div.company_product ul {
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 25px;
}

.sizematch {
  width: 95%;
  margin-bottom: 2em;
}

.productpage {
  margin-left: 2em;
  margin-top: 20px;
}

div.questions {
  padding-bottom: 2em;
}

.customside {
  margin-top: -30px;
  margin-left: -60px;
}

.editbar {
  margin-bottom: 3em;
  padding-left: 2em;
}

h3.questions {
  margin-top: 10px;
}


