<ul>
  <% @products.each do |product|%>
    <li>
      <ul>
        <li><%=image_tag product.image, :class => 'productimg'%></li>
        <li><%=link_to product.name, product_path(product.id)%></li>
        <li><%= product.about %></li>
      </ul>
    </li>
  <%end%>
</ul>